 {{ define "content" }}
<div class="jumbotron">

<div class="media">

<img class="media-object img-rounded pull-left" src="http://lorempixel.com/400/200/fashion"  alt="">

<div class="media-body">

			
			
			<h3 class="media-heading">{{ .Paragraph.Pphrase}}</h3>
			
			{{range . | SomeSentences}}
			
				{{.}}
			
			{{ end }}
			
</div>

</div>						
<h2 >{{ .Site | SplitDomainName}}</h2>			
</div>

{{range .Pages}}

	<ul class="list-group">

	<a class="list-group-item" href="{{.}}">{{ . | SplitPathOnWords}}</a>
	
	</ul>

{{ end }}


{{ end }}
