{{ define "mediablock" }}


<div class="media">

	<div class="media-body">
		<img class="media-object img-rounded "
			src="http://lorempixel.com/400/200/fashion/" alt="{{.Pphrase }}">
		<h2 id='Ptitle' class="media-heading text-primary">{{.Ptitle }}</h2>
		<h3 id='Pphrase' class="media-heading text-info">
			{{.Pphrase }}
			</h3>

			<div class="well well-sm" id='Sentences'>{{range .Sentences }}
				{{.}} {{end}}</div>
	</div>

</div>


{{if .Plocallink}}
<a id='Plocallink' href="{{.Plocallink }}">{{.Ptitle }}</a>
{{end}} {{end}}
